body {
  background-color: #000;
}

.centerlinks {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10%;
}

/* Home page Front Row */
.frontrow {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10%;
}

.blakemain {
  font-size: 250%;
}

.blakesub {
  font-size: 125%;
}

/* About page */

.aboutpage{
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10%;
}

.pabout {
  font-size: 125%;
}

.deviceslist {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 23%;
  padding: .25rem;
}

/* Projects */
.projectsmain {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10%;
}

/* Link decoration */
a {
  font-size: 100%;
}

a:link {
  font-size: 100%;
  text-decoration: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #a89f9c;
}

a:active {
  text-decoration: underline;
  color: #fff;
}

/* Footer */

.footlinks {
  text-align: center;
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  bottom:0;
  width:100%;
  height:60px;
}
